<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta itemprop="client-id" id="client-id" content="<%= %>">
    <meta itemprop="team-id" id="team-id" content="<%= @conn.assigns.uuid %>">
    <meta itemprop="team-name" id="team-name" content="<%= @conn.assigns.team_name %>">

    <title>Hello Mobbur!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
  </head>

  <body>
    <!-- <div id="client-id" value="foo"></div> -->
    <div id="elm-app-lives-here" class="" name="elm-app-lives-here"></div>

      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->


    <audio id="alarm" src="/audio/start1.mp3" preload="auto"></audio>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
